*.gem
*.rbc
*.pem
*.html
.directory
.DS_Store
ci_env.json
ci_os.json
Gemfile.lock
/bin/spring
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/lib/bundler/man/
*.cache
/jmeter/*.html
cucumber/*.html
cucumber/.DS_Store
cucumber/bin/
cucumber/vendor
cucumber/screenshot/*.jpg
cucumber/CucumberExecutionReport
cucumber/rerun*.txt
cucumber/.project
cucumber/features_v2/*/.DS_Store
cucumber/features_v2/*/._.DS_Store
cucumber/features_v2/*/*/._.DS_Store
cucumber/features_v2/_qa_setup/.DS_Store
cucumber/features_v2/_qa_setup/step_definitions/.DS_Store
cucumber/features_v2/billing/.DS_Store
cucumber/features_v2/links/.DS_Store
cucumber/features_v2/partner_segmentation/.DS_Store
cucumber/features_v2/product/.DS_Store
cucumber/features_v2/registration/.DS_Store
cucumber/features_v2/support/.DS_Store
stats_grinder/cucumber/vendor
stats_grinder/cucumber/*.txt
protractor/node_modules
protractor/reports
protractor/testSuite/reports